<!DOCTYPE html>

<html lang="ru">
<header>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</header>
<body>
<div class="container p-3">
    {{#messages}}
        <section>
            <div class="text-primary"><h1>{{name}}</h1></div>
            <br>
            <div>{{message}}</div>
        </section>
    {{/messages}}
    <br>
    <a href="/message">добавить сообщение</a>
</div>
</body>

</html>